// WordPress Generated Classes
// http://codex.wordpress.org/CSS#WordPress_Generated_Classes

// Media alignment
.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  height: auto;
}

.aligncenter {
  display: block;

  height: auto;
}

.alignleft{
  @extend .pull-left;
  margin-right: $padding-large-vertical;
}
.alignright{
  @extend .pull-right;
  margin-left: $padding-large-vertical;
}
.alignleft,
.alignright {
  margin-bottom: $padding-large-vertical;
  height: auto;
}


// Captions
.wp-caption {
  min-width: 100%;
  @extend .thumbnail !optional;
  img {
    @extend .img-fluid !optional;
  }

  .wp-caption-text {
    @extend .caption !optional;
  }
}
.page-numbers{
  @extend .pagination  !optional;
  *{
    border-radius: 0px;
  }
}
// Text meant only for screen readers
.screen-reader-text {
  @extend .sr-only;
  @extend .sr-only-focusable;
}

table{
  @extend .table;
}
dl{
  @extend .dl-horizontal;
}
.nav-links{
  @extend .pager;
  li>*{
    border-radius: $border-radius-small !important;
  }
}
body.admin-bar{
  #main-nav{
    margin-top: 32px;
    @media screen and (max-width: 782px){
      margin-top: 46px;
    }
  }
}
.wp-post-image{
  @extend .img-responsive;
}
.infinite-wrap{
  @extend .row;
}