// Footer
#footer-1 {
  background-color: #303133;
  color: white;
}

#footer-2{
  background-color: #000;
  color: white;
}
#footer-1 .container{
  padding: 30px 0px;
}
#footer-2 .container{
  padding: 35px 15px 25px;
}
#footer-1 .slant{
  background: white;
}
#footer-1 .slant svg polygon{
  fill: #303133;
}
#footer-2 .slant svg polygon{
  fill: #000000;
}
#footer-2 .slant{
  background-color: #303133;
}
.social-links{
  @media (min-width: $screen-sm-min) {
    margin-top: -10px;
    float: right;
  }

  .fa-stack-1x {
    color: black;
  }
  .fa-stack-2x {
    color: grey;
  }
  a:hover{
    .fa-stack-2x {
      color: white;
    }
  }
}