// Posts
.cat-links, .tags-links{
  a{
    @extend .label;
    @extend .label-default;
  }
}

.entry-meta{
  padding: 0px 0px $padding-large-vertical;
  font-size: 1.1em;
}
.entry-content{
  padding: $padding-large-vertical 0px;
  font-size: 1.25em;
}
.entry-footer{
  padding: $padding-large-vertical 0px;
}
body.infinite-scroll {
  .navigation.pagination{
    display: none;
  }
  .infinite-loader,
  #infinite-handle{
    padding: 30px 0px;
    text-align: center;
    span{
      @extend .btn;
      @extend .btn-primary;
      @extend .btn-lg;
    }
  }
}


  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .every-2{
      clear: both;
    }
  }

  @media (min-width: $screen-md-min) {
    .every-3{
      clear: both;
    }
  }
.every-4{}