// Variables

// Colors
$fa-font-path:        "http://netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts"; // for referencing Bootstrap CDN font files directly
$icon-font-path:      "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/fonts/";
$spacer: "10";


$brand-primary: #24b8e5;