// Variables

// Colors
$fa-font-path:        "https://netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts"; // for referencing Bootstrap CDN font files directly
$icon-font-path:      "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/fonts/";
$spacer: "10";

$font-size-h1:            2.6em; // ~36px
$font-size-h2:            2.15em; // ~30px
$font-size-h3:            1.7em; // ~24px
$font-size-h4:            1.25em; // ~18px
$font-size-h6:            0.85em; // ~12px
$brand-primary:           #24b8e5;
